POSTGRES_USER=dq_user
POSTGRES_PASSWORD=dq_pass
POSTGRES_DB=nyc311
POSTGRES_HOST=localhost
POSTGRES_PORT=5434

# NYC Open Data Socrata app token (optional but raises rate limits)
# Get free at: https://data.cityofnewyork.us/profile/app_tokens
SOCRATA_APP_TOKEN=
